{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create New Blog</legend>
                <div class="form-group">
                    {{ form.OrderID.label(class="form-control-label") }}

                    {% if form.OrderID.errors %}
                        {{ form.OrderID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.OrderID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.OrderID(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.EstimatedArrivalDate.label(class="form-control-label") }}
    
                        {% if form.EstimatedArrivalDate.errors %}
                            {{ form.EstimatedArrivalDate(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.EstimatedArrivalDate.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.EstimatedArrivalDate(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                <div class="form-group">
                    {{ form.DateOrderReceived.label(class="form-control-label") }}
        
                    {% if form.DateOrderReceived.errors %}
                        {{ form.DateOrderReceived(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.DateOrderReceived.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.DateOrderReceived(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Quantity.label(class="form-control-label") }}
        
                    {% if form.Quantity.errors %}
                        {{ form.Quantity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Quantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Quantity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.IsPremium.label(class="form-control-label") }}
        
                    {% if form.IsPremium.errors %}
                        {{ form.IsPremium(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.IsPremium.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.IsPremium(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.DeliveryAddress.label(class="form-control-label") }}
        
                    {% if form.DeliveryAddress.errors %}
                        {{ form.DeliveryAddress(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.DeliveryAddress.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.DeliveryAddress(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ShippingCost.label(class="form-control-label") }}
        
                    {% if form.ShippingCost.errors %}
                        {{ form.ShippingCost(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ShippingCost.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ShippingCost(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.ClientID.label(class="form-control-label") }}
        
                    {% if form.ClientID.errors %}
                        {{ form.ClientID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ClientID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ClientID(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}