{% extends "layout.html" %}
{% block content %}
          <div class="content-section">
            <h1>Tables of Content</h3>
              <ul class="list-group">
                <p class='text-muted'> All Entries </p>
              </ul>
            <a class="nav-item nav-link" href="{{ url_for('client') }}">See Clients</a>
            <a class="nav-item nav-link" href="{{ url_for('orders') }}">See Orders</a>
            <a class="nav-item nav-link" href="{{ url_for('courier') }}">See Couriers</a>
            <a class="nav-item nav-link" href="{{ url_for('assignorders') }}">See Assignorders</a>
            <a class="nav-item nav-link" href="{{ url_for('products') }}">See Products</a>
            <a class="nav-item nav-link" href="{{ url_for('location') }}">See Locations</a>
            <a class="nav-item nav-link" href="{{ url_for('seller') }}">See Sellers</a>
            <a class="nav-item nav-link" href="{{ url_for('thirdpartyseller') }}">See Third Party Sellers</a>
            <a class="nav-item nav-link" href="{{ url_for('thirdpartyitemssold') }}">See Third Party Items Sold</a>
          </div>
    <!-- Posts are created using a for loop iterating over the posts variable 
    in flaskblog.py -->
{% endblock content %}
