{% extends "layout.html" %}
{% block content %}
    <!-- Posts are created using a for loop iterating over the posts variable 
    in flaskblog.py -->
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post[1] }}</a>
            </div>
            <p class="article-content">ProvinceCode: {{ post[0] }}</a></h2>
            <p class="article-content">DateReceived: {{ post[2] }}</a></h2>
            <p class="article-content">DateShipping: {{ post[6] }}</a></h2>
            <p class="article-content">OrderID: {{ post[7] }}</a></h2>
            <p class="article-content">SellerID: {{ post[8] }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}