{% extends "layout.html" %}
{% block content %}
<div class="col-md-4">
          <div class="content-section">
              <form method="POST" action="">
                {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Order</legend>
                <div class="form-group">
                    {{ form.OrderID.label(class="form-control-label") }}

                    {% if form.OrderID.errors %}
                        {{ form.OrderID(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.OrderID.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.OrderID(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
              </form>
          </div>
        </div>
{% endblock content %}