{% extends "layout.html" %}
{% block content %}
<div class="col-md-4">
          <!-- This is where the sidebar is created -->
          <div class="content-section">
              <form method="POST" action="">
                {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Choose Table</legend>
                <div class="form-group">
                    {{ form.ViewType.label(class="form-control-label") }}

                    {% if form.ViewType.errors %}
                        {{ form.ViewType(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ViewType.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ViewType(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
              </form>
          </div>
        </div>
{% endblock content %}